body {
    margin: 0;
    padding: 0;
    background-color: #000; 
}

.start-kepernyo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

button {
    background-color: #35881c; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    margin: 5px !important;
    width: 200px;
}
button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}